body {
    padding: 0;
    margin: 0;
}

.page {
    width: 100%;
    height: 100vh;
    padding-bottom: 0;
    margin: 0;
}

.left {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%), radial-gradient(84.31% 84.31% at 50% 50%, #C8D0E5 0%, #4E72CC 43.65%, #0E0C62 100%);
    width: 50%;
    height: 100vh;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.saviour {
    width: 100%;
    font: bold;
    font-size: 1100%;
    overflow: auto;
    color: #FFF;
    font-family: Zen Dots;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.right {
    background: #F0F0F0;
    width: 50%;
    height: 100vh;
    float: right;
    display: flex;
    font-family: Red Rose;
}

.from {
    height: 100%;
    width: 90%;
    padding-left: 15%;
    padding-top: 10%;
    justify-content: center;
    align-items: center;
}

.welcome {
    width: 80%;
    font-size: 200%;
    align-items: center;
    align-content: left;
    display: flex;
}

.input {
    width: 100%;
}

.from p {
    font-size: 25px;
}

.input-box {
    padding: 1.5%;
    margin: 10px 0;
    width: 60%;
    border: 1px solid #F0F0F0;
    border-bottom: 1px solid #000;
    background: #F0F0F0;
    outline: none;
}

.pass {
    width: 110%;
    color: #4E72CC;
    display: flex;
    align-items: right;
    justify-content: center;
}

.button {
    width: 130%;
}

.sign-in {
    padding: 8px;
    margin: 10px 0;
    width: 50%;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 10px;
    background: #496CD1;
}

.google {
    padding: 8px;
    margin: 10px 0;
    width: 50%;
    border-radius: 10px;
    background: #E5E5E5;
    color: #1B1B1B;
    font-family: Red Rose;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

.signup {
    padding-left: 14%;
    color: #535353;
    font-family: Red Rose;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}